.amigos-container {
  padding: 16px;
  height: auto; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  position: relative; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 19px; /* Espacio debajo del input de búsqueda */
}

.search-icon {
  margin-right: 8px;
  color: #4cb5f9; /* Color del icono de búsqueda */
  font-size: 24px; 
}

.search-input {
  border: 1px solid #0000;
  border-radius: 20px; 
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.volver-button {
  position: fixed; 
  bottom: 20px; 
  left: 20px; 
  z-index: 10;
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: inherit; 
}

/* Estilos para los resultados de búsqueda */
.results-container {
  margin-top: 20px; /* Espacio superior para los resultados de búsqueda */
  margin-bottom: 20px; 
}

.results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-name {
  font-size: 16px;
}

.no-results {
  text-align: center;
  color: #888;
}
