.amigos-container {
  padding: 16px;
  height: auto; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box; 
  position: relative; 
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 19px; /* Espacio debajo del input de búsqueda */
}

.search-icon {
  margin-right: 8px;
  color: #4cb5f9; /* Color del icono de búsqueda */
  font-size: 24px; 
}

.search-input {
  border: 1px solid #0000;
  border-radius: 20px; 
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.amigos-container > *:not(.search-container) {
  margin-top: auto; 
}

.volver-button {
  position: fixed; 
  bottom: 20px; 
  left: 20px; 
  z-index: 10;
  display: flex; 
  align-items: center; 
  text-decoration: none; 
  color: inherit; 
}
