/* Contenedor principal */
body{
  overflow-y: hidden;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Contenedor del formulario */
.login-container {
  width: 100%;
  max-width: 500px; /* Ancho máximo del formulario */
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 400px; /* Establece una altura mínima */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

/* Estilo para el título */
h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo para la animación Lottie */
.lottie-animation {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: -40px 0; /* Aumenta el margen para darle más espacio */
}

/* Estilo para los inputs */
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px); 
  height: 40px;
  margin: 10px 0; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de inicio de sesión */
button[type="submit"] {
  width: calc(100% - 20px);
  background-color: #4cb5f9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0098f7;
}

/* Estilo para los botones de Google y GitHub */
.loginButton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.loginButton button {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.google-button {
  background-color: #4285F4;
  color: #fff;
}

.github-button {
  background-color: #333;
  color: #fff;
}

.google-button img,
.github-button img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

.google-button:hover {
  background-color: #357ae8;
}

.github-button:hover {
  background-color: #444;
}

/* Estilo para el enlace de registro */
.texto-abajo {
  margin-top: 10px;
  text-align: center;
}

.texto-abajo button {
  background: none;
  border: none;
  color: #4cb5f9;
  cursor: pointer;
  text-decoration: underline;
}

.texto-abajo button:hover {
  color: #0098f7;
}
