

.app-container {
    z-index: 0;
    display: flex;
    flex-direction: column;
  }
  
  .feedbtn{
    color: red !important;
  }
  
  .feed-container {
    margin-top: 60px; /* Adjust based on header height */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    height: calc(100% - 259px);
    overflow-y: scroll;
  }

  .feed-container::-webkit-scrollbar {
    display: none;
}
  
  .card {
    margin-bottom: 20px;
  }
  
