/* Contenedor principal del formulario */
.registro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: relative;
}

/* Contenedor del formulario de registro */
.registro-container {
  max-width: 400px; 
  width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible hasta el máximo especificado */
  padding: 20px;
  border: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  border-radius: 8px; 
  box-sizing: border-box;  
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* Estilo para el título */
h2 {
  text-align: center;
  margin-bottom: 15px; 
}

/* Estilo para los campos de entrada */
input[type="email"],
input[type="text"],
input[type="password"], 
input[type="date"] {
  width: 100%; /* Ancho completo dentro del formulario */
  height: 40px; 
  margin: 10px 0; 
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: block;
  box-sizing: border-box; 
}

/* Estilo para el botón de envío */
button[type="submit"] {
  width: 100%; /* Ancho completo dentro del formulario */
  background-color: #4cb5f9;
  color: #fff;
  padding: 12px; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 15px; 
}

button[type="submit"]:hover {
  background-color: #0098f7;
}

/* Contenedor de la animación Lottie */
.lottie-animation-container {
  position: fixed; 
  top: 50%;
  left: 20px; 
  width: 150px; 
  height: 200px; 
  transform: translateY(-50%); 
}

/* Estilo para el texto en la parte inferior del formulario */
.registro-texto-abajo {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.registro-texto-abajo p {
  margin: 5px 0;
  text-align: center;
}

/* Estilo para el pie de página */
.registro-footer {
  text-align: center;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
}

/* Estilo para los términos */
.terminos {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: small;
}

/* Estilos responsivos para pantallas más pequeñas */
@media only screen and (max-width: 568px) {
  .registro-container {
    max-width: 150px;
    width: 90%; 
  }

  .lottie-animation-container {
    width: 120px;
    height: 160px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 556px) {
  .registro-container {
    max-width: 200px; /* Ajusta el ancho en pantallas pequeñas */
    width: 50%; /* Asegura que el formulario no se alargue demasiado */
  }

  .lottie-animation-container {
    width: 100px;
    height: 150px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
