.circle-friend{

    height: 44px;
    width: 44px;
    margin: 10px 0 0 24px;
  }
  .FriendNames{
  
    margin: -63px 0px 0px 50px;
  }
  
  .MenuIcons{
  
    padding: 0px 100px;
  }
  .side-icon{
    width: 2%;
    margin-left: 97%;
    margin-top: 1%;

  }

